In [1]:
from sklearn import datasets
from sklearn.linear_model import LogisticRegression

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv("trainlog.csv",delimiter=",")
tx=pd.read_csv("test_log.csv",delimiter=",")

In [4]:
check=data.copy()
check

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...
663,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5000,NaN,S,1
664,3,"Morrow, Mr. Thomas Rowan",male,NaN,0,0,372622,7.7500,NaN,Q,0
665,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,NaN,S,1
666,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,NaN,S,0
667,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q,1

In [5]:
check.drop("Name",axis=1,inplace=True)
tx.drop("Name",axis=1,inplace=True)

In [6]:
check.drop("Fare",axis=1,inplace=True)

tx.drop("Fare",axis=1,inplace=True)

In [7]:
check.drop("Ticket",axis=1,inplace=True)
tx.drop("Ticket",axis=1,inplace=True)

In [8]:
check.drop("Cabin",axis=1,inplace=True)
tx.drop("Cabin",axis=1,inplace=True)

In [9]:
check.Age.fillna(check.Age.mean(),inplace=True)
tx.Age.fillna(check.Age.mean(),inplace=True)

In [10]:
def sex(s):
    if s=="male":
        return 0
    else:
        return 1

In [11]:
check["Sex"]=check.Sex.apply(sex)
tx["Sex"]=tx.Sex.apply(sex)

In [12]:
def embark(s):
    if s=="S":
        return 0
    elif s=="C":
        return 1
    else:
        return 2

In [13]:
check["Embarked"]=check.Embarked.apply(embark)
tx["Embarked"]=tx.Embarked.apply(embark)

In [14]:
x=check.iloc[:,0:6]
y=check.iloc[:,6]
x

     Pclass  Sex       Age  SibSp  Parch  Embarked
0         2    1  29.00000      1      0         0
1         3    0  29.70056      0      0         0
2         2    0  39.00000      0      0         0
3         3    1  29.00000      0      4         0
4         3    0  25.00000      0      0         0
..      ...  ...       ...    ...    ...       ...
663       2    1  17.00000      0      0         0
664       3    0  29.70056      0      0         2
665       3    0  32.00000      0      0         0
666       3    1  22.00000      0      0         0
667       3    1  29.70056      1      0         2

[668 rows x 6 columns]

In [15]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(x,y,test_size=0.25)

In [16]:
classifier=LogisticRegression()
classifier.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
classifier.predict(X_test)

array([0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [18]:
classifier.score(X_test,Y_test)

0.7844311377245509

In [19]:
Y_pred=classifier.predict(tx)

In [21]:
np.savetxt("Titanic.csv",Y_pred,fmt="%.5f",delimiter=",")